@import "fonts.scss";
/* Todo, we migrated to SCSS, so please take advantage of it! */

body, 
html,
#content {
  margin: 0;
  padding: 0;
  width: 100%;
}
body,
html {
  height: 100%;
}
.part-of-content {
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 15px;

  box-shadow: 0px 5px black;
}
#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  height: auto;

  padding-top: 20px;

  font-family: "Nunito", sans-serif;
}

#content > #header #icon {
  height: 10vh;
}
/* Removed conflicting inline-block and vertical-align rules */

#content > #header {
  grid-column: 1 / 7;
  height: 10vh;
}
#content > #header,
#content > #footer {
  border: none; 
  box-shadow: none;
}
#content > #headerimage {
  grid-column: 1 / 7;
  height: 45vh;
  /*background-image: url("art/header.png"); (INCORRECT PHOTO, please replace lol)*/

  transition: height .3s;
  transition-delay: 100ms;
}
#content > #headerimage:hover, #content > #headerimage.selected {
  height: 75vh;
  transition-delay: 0ms;
}
#content > #headerimage > p{
    width: 25%;
    padding-left: 2.5%;
}
#content > #headerimage .hidden a{
    color: white;
    color: rgba(255, 255, 255, 0);
    transition: color .3s, font-size .5s;
}
#content > #headerimage .hidden{
    display: block;
    color: rgba(255, 255, 255, 0);
    transition: color .3s, font-size .5s;
}
#content > #headerimage .hidden a, #content > #headerimage:hover .hidden, #content > #headerimage.selected .hidden{
    color: rgb(0, 0, 0);
}
#content > #headerimage:hover .hidden, #content > #headerimage.selected .hidden{
    display: block;
    font-size: 16px;
}
#content > #altimage {
  grid-column: 1 / 5;
}
#content > #extrainfo {
  grid-column: 5 / 7;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0;
}
#content > #footer {
  grid-column: 1 / 7;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(36, 36, 36, 0.95);
  border-radius: 0;
}
#content > #footer * {
  color: white;
}

#header, #headerimage,
    #altimage/*, #footer*/ {
  margin-left: 20px;
}
#header, #headerimage,
    #extrainfo/*, #footer*/ {
  margin-right: 20px;
}
#header,
#headerimage,
#altimage,
#extrainfo {
  margin-bottom: 10px;
}

#header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.side {
  width: 100%;
  /* background-color: wheat; (This was for debugging only!)*/
  display: flex;
  align-items: center;
  height: 100%;
}
#header .side:nth-child(1) {
  justify-content: flex-start;
  font-family: "Stack Sans Headline", sans-serif;
}
#header .side:nth-child(2) {
  justify-content: center;
  font-weight: 900;
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.3rem;
}
#header .side:nth-child(3) {
  justify-content: flex-end;
}
.side a {
  color: black;
  font-size: 5vh;
  text-decoration: none;
}

.side1 span {
  font-size: 32px;
}
.side2 span {
  height: 9vh;
  padding: 0;
  margin: 0;
  transform: translateY(-3vh);
}
.side2 img {
  max-height: 9vh;
  transform: translateY(3vh);
}
/* https://stackoverflow.com/questions/12690444/css-border-on-png-image-with-transparent-parts */
.border-img {
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

#headerimage {
  background-image: url("art/messi_bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-position: center 10%;
}

/* Style ONLY the embedded Twitter widget container */
.twitter-tweet.twitter-tweet-rendered {
  display: flex !important;
  width: 550px !important;
  max-width: 100%;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  overflow: auto !important;
  background: #fff;
  justify-content: center;
  height: 400px;
}
#extrainfo .twitter-tweet.twitter-tweet-rendered iframe {
  width: 550px !important;
  max-width: 100%;
  min-width: 0 !important;
  height: 100% !important;
  border: none;
  display: block;
}
#headerimage{
  font-family: "Merriweather", serif;
}
#headerimage h3 {
  font-family: "Climate Crisis", sans-serif;
  font-size: 4rem;
  padding-left: 15px;
  background: linear-gradient(to bottom, #3af3f3, #23b8b8, #f86945, #ff8566);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 1px rgb(53, 53, 53);
}

#altimage {
  background-image: url("art/icon.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center 40%;

  margin-right: 5px;
}

#extrainfo {
  background-image: url("art/background2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: 5px;
}

/* Custom cursors maybe? */
/*.part-of-content:not(#footer):not(#header){
        transition: transform .5s, box-shadow .45s;
      }
      .part-of-content:not(#footer):not(#header):hover{
        transform: scale(1.01);
        z-index: 999;
      }*/

#altimage,
#extrainfo {
  transition: filter 0.4s;
}
#altimage:hover,
#extrainfo:hover {
  filter: brightness(1.12);
}

#loading{
    display: none !important;
}